.flower{
    width: 500px;
    height: 500px;
}
img{
    width: 200px;
    height: 200px;
}
#img1{
    width:400px;
    height:400px;   
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: 2px solid black;
    text-align: center;
}
.container
{
    text-align: center;
    background-color: lightgreen;
}
.carousel-inner img{
    
}
.menu1{
    position: sticky;
    top:0;
    z-index: 99999;
    background-color: coral;
    width: 100%;
    line-height: 3;
}
.links{
    list-style: none;
    display: inline;
    padding-right: 33px;
    padding-left: 25px;
}
.links:hover{
    background-color: mediumaquamarine;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
#contact{
    background-color: aquamarine;
}